@model BlogUpdateViewModel

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description">
                Update Blog
            </p>
            <form method="post" class="forms-sample" enctype="multipart/form-data">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                <div class="form-group">
                    <label for="exampleInputUsername1">Name</label>
                    <input class="form-control" id="input1" asp-for="Title" placeholder="Name">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>



                <div class="form-group">
                    <label for="exampleInputUsername1">Author</label>
                    <input class="form-control" id="input1" asp-for="CreatedBy" placeholder="Price">
                    <span asp-validation-for="CreatedBy" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label for="exampleInputUsername1">Desc</label>
                    <input class="form-control" id="input1" asp-for="Description" placeholder="Rating">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>




                <div class="form-group">
                    <label for="exampleInputUsername1">Main image</label>
                    <input class="form-control" id="input1" asp-for="Image" placeholder="Name">
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label>Select categories</label>
                    <select asp-items="Model.OldCategories" asp-for="OldCategoryIds" class="form-control" placeholder="profession"></select>
                    <span asp-validation-for="OldCategoryIds"></span>
                </div>

                <div class="form-group">
                    <label>Select categories</label>
                    <select asp-items="Model.NewCategories" asp-for="NewCategoryIds" class="form-control" placeholder="profession"></select>
                    <span asp-validation-for="NewCategoryIds"></span>
                </div>




                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>

